<section class="dark:bg-black text-text-dark bg-blue-950  py-10 px-12">
    <div class="container">
        <div class="inner-footer grid capitalize">


            <div>

                <div class="capitalize pb-5">
                    <h2 class="text-2xl">get the fresh cart app</h2>
                    <p>we will send you a link, open it on your phone to download the app </p>
                </div>


                <div class="flex flex-wrap">
                    <label for="helper-text"
                        class="w-full block mb-2 text-sm font-medium text-text-dark ">Your
                        email</label>
                    <input type="email" id="helper-text" aria-describedby="helper-text-explanation"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block p-2.5 lg:w-[90%] w-[70%]"
                        placeholder="Enter Your Email">

                        <button class="ms-1 rounded-lg w-[80px] bg-bg-light dark:bg-main-color-light text-text-light dark:text-text-dark">Send</button>
                    
                </div>

            </div>

            <div class="pay-details md:flex justify-between items-center mt-3">
                <div class="flex items-center gap-2">
                    <h3 class="text-sm m-0">Payment partners</h3>
                    <img src="/imges/amazon-pay.png" width="50px" alt="amazon-pay" />
                    <img src="/imges/American-Express-Color.png" width="50px" alt="American-Express" />
                    <img src="/imges/paypal.png" width="50px" alt="paypal" />
                    <img src="/imges/mastercard.webp" width="50px" alt="mastercard" />
                </div>

                <div class="flex items-center gap-2">
                    <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
                    <img src="/imges/get-google-play.png" width="100px" alt="get-google-play" />
                    <img src="/imges/get-apple-store.png" width="100px" alt="get-apple-store" />
                </div>
            </div>

        </div>

    </div>
</section>